<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<title>NCAA Pool Party</title>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="/images/favicon.ico"></link>
<link rel="icon" type="image/png" href="/images/favicon-192x192.png" sizes="192x192"></link>
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png"></link>

<!-- Adminator css -->
<link rel="stylesheet" href="/stylesheets/adminator.css"></link>
<!-- Vendor css -->
<!-- App Specific css -->
<link rel="stylesheet" href="/stylesheets/application.css"></link>
<% if (page) { %>
  <link rel="stylesheet" href="/stylesheets/<%= page %>.css"></link>
<% } %>
