<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>NCAA Pool Party</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="icon" type="image/png" href="/images/favicon-192x192.png" sizes="192x192">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png">

<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

<!-- Animate.css -->
<link rel="stylesheet" href="/stylesheets/vendor/animate.css">
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="/stylesheets/vendor/icomoon.css">
<!-- Bootstrap  -->
<link rel="stylesheet" href="/stylesheets/vendor/bootstrap.css">
<!-- Flexslider  -->
<link rel="stylesheet" href="/stylesheets/vendor/flexslider.css">
<!-- Theme style  -->
<link rel="stylesheet" href="/stylesheets/vendor/marble.css">
<!-- Datatables style  -->
<link rel="stylesheet" href="/stylesheets/vendor/datatables.min.css">
<!-- App Specific css -->
<link rel="stylesheet" href="/stylesheets/application.css">
<link rel="stylesheet" href="/stylesheets/selections.css">
<link rel="stylesheet" href="/stylesheets/admin/seasons.css">

<!-- Modernizr JS -->
<script src="/javascripts/vendor/modernizr-2.6.2.min.js"></script>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
<script src="js/respond.min.js"></script>
<![endif]-->