<h1 id="fh5co-logo"><a href="index.html">NCAAPP</a></h1>
<nav id="fh5co-main-menu" role="navigation">
  <ul>
    <li><a href="/home">Home</a></li>
    <% if (user.is_admin) { %>
      <li><a href="/admin/seasons">Admin - Seasons</a></li>
    <% }; %>
    <li><a href="/user/entries">My Entries</a></li>
    <li><a href="/results">Results</a></li>
    <li><a href="/rules">Rules</a></li>
    <li><a href="/user/selections">Selections</a></li>
    <li><a href="/teams">Teams</a></li>
    <!-- TODO change logout to a single form and button, but fix CSS to match other li > a links -->
    <li><a href="/logout" id="logout">Logout</a></li>
    <li class="hidden">
      <form method="post" action="/logout">
        <button id="logout-button" type="submit">Logout</button>
      </form>
    </li>
  </ul>
</nav>

<div class="fh5co-footer">
  <p><small>a couple dumb devs</small></p>
</div>
