#remaining-selections-count,
#remaining-budget {
  margin-left: 5px;
}

.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}


.table tbody tr.odd.disabled:hover td, .table tbody tr.odd.disabled:hover th {
  background-color: rgb(242, 242, 242);
  color: #212529;
  cursor: default;
}
.table tbody tr.even.disabled:hover td, .table tbody tr.even.disabled:hover th {
  background-color: rgb(255, 255, 255);
  color: #212529;
  cursor: default;
}