
<!DOCTYPE html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div id="fh5co-page">
      <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
      <aside id="fh5co-aside" role="complementary" class="border js-fullheight">
        <%- include('../partials/navbar') %>
      </aside>
      <%- include(`../pages/${page}`) %>
    </div>

    <%- include('../partials/js-footer') %>
  </body>
</html>
