<div class="row row-bottom-padded-md">
  <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
    <h2 class="fh5co-heading">Performance</h2>
    <p>decide what goes here</p>
    <p>stats for each team on roster?</p>
    <p>stats for everyone in league?</p>
  </div>
  <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
    <h2 class="fh5co-heading">Leaderboard</h2>
    <p>add leaderboard here with current points</p>
  </div>
</div>
<div class="row row-bottom-padded-md">
  <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
    <p>can scroll</p>
    <p>can scroll</p>
    <p>can scroll</p>
    <p>can scroll</p>
    <p>can scroll</p>
    <p>can scroll</p>
    <p>can scroll</p>
    <p>can scroll</p>
    <p>can scroll</p>
    <p>can scroll</p>
    <p>can scroll</p>
    <p>can scroll</p>
    <p>can scroll</p>
    <p>can scroll</p>
    <p>can scroll</p>
    <p>can scroll</p>
    <p>can scroll</p>
  </div>
</div>
