<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
      <%- include('../partials/head') %>
  </head>
  <body class="d-flex flex-column min-vh-100 mx-0 px-0 .flex-column">

    <header>
      <%- include('../partials/navbar') %>
    </header>

    <main>
      <p>test</p>
    </main>

    <footer class="mt-auto">
      <%- include('../partials/footer') %>
    </footer>

  </body>
</html>
